
/* fazemos o import do css da fonte diretamente do google font */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    color: #023047;
    font-size: 80px;

    /* o bowser tenta utilizar da esquerda para a direita no caso de não houver a primeira opção */ 
    /* o ultimo termo sempre é o TIPO DE FONTE para que o browser consiga trocar por alguma que não especificamos mas é muito parecida*/
    font-family: 'Inter', Arial, sans-serif;   
}