/* Estilos básicos, você pode personalizá-los como desejar */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main { 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: space-evenly;
}

#carrinhoLink {
    color: #ffffff;
}

.produto {  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    flex: calc(25%);
    align-items: end;
}

.produto img { 
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    
    max-width: 100px;
    max-height: 100px;
    
}

.adicionarCarrinho {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.adicionarCarrinho:hover {
    background-color: #0056b3;
}

.carrinho {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: fixed;
    top: 80px;
    right: 20px;
    width: 300px;
    display: none;
}

.carrinho h2 {
    font-size: 18px;
}

#listaCarrinho {
    list-style: none;
    padding: 0;
}

#listaCarrinho li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#limparCarrinho {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#limparCarrinho:hover {
    background-color: #ff0000;
}
